// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
#cf7-submit{
    color: #3388ff;
    border-color: #3388ff;
}
p, h1, h2, h3, a{
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-style: italic;
}